@mixin truncate-lines( $lineheight, $lines ) {
  height: ( $lines * $lineheight ) + em;
  line-height: $lineheight;
  max-height: ( $lines * $lineheight ) + em;
  overflow: hidden;
}
@mixin textEllipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@mixin undoEllipsis {
  white-space: normal;
  text-overflow: clip;
  overflow: visible;
}

.truncated {
  @include textEllipsis; /* Truncate single line with CSS alone. */
}
.multiline.truncated {
  @include undoEllipsis;
  @include truncate-lines( 1.2, 4 ) /* Truncate to four lines */
}

.filtered {
  &>* {
    height: 0;
    overflow: hidden;
    &.persist {
      height: auto;
      overflow: visible;
    }
  }
}