@import "trunca-mixins"; /* Import these mixins into any stylesheet that uses `@include truncate-lines` */

.truncated {
  @include textEllipsis; /* Truncate single line with CSS alone. */
}
.multiline.truncated {
  @include undoEllipsis;
  @include truncate-lines( 1.2, 4 ) /* Truncate to four lines */
}

.filtered {
  &>* {
    height: 0;
    overflow: hidden;
    &.persist {
      height: auto;
      overflow: visible;
    }
  }
}

// hide the trigger link when content is shown
.truncate-trigger,
.filterlist-trigger {
  display: none;
}
.truncated + .truncate-trigger,
.filtered + .filterlist-trigger {
  display: inline-block;
}